name: Release

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/prebuilds.yaml"
      - ".devcontainer/**"

permissions:
  contents: read

jobs:
  publish-image:
    runs-on: ubuntu-22.04

    permissions:
      id-token: write
      packages: write
      contents: read

    steps:
      - uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to ghcr.io
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: loft-sh
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Install DevPod
        run: |
          curl -L -o devpod "https://github.com/loft-sh/devpod/releases/latest/download/devpod-linux-amd64" && \
              sudo install -c -m 0755 devpod /usr/local/bin && \
              rm -f devpod
      - name: Build PreBuild
        run: |
          # Add local docker provider
          devpod provider add docker
          
          # Build image via local docker
          devpod build . --repository "ghcr.io/loft-sh/devpod-kubebuilder-template" --platform "linux/amd64,linux/arm64"
